@model TextEditor.Models.WebEditorModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>WebEditorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input asp-for="author" class="form-control" value="@Model.author" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doc_id" class="control-label"></label>
                <input asp-for="doc_id" class="form-control" value="@Model.doc_id" />
                <span asp-validation-for="doc_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" value="@Model.title" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <textarea asp-for="data" style="width:1100px;height:360px" class="form-control" value="@Model.data" >
                    </textarea>
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="date_created" class="control-label"></label>
                <input asp-for="date_created" class="form-control" value="@Model.date_created.ToString("yyyy-MM-dd hh:mm")" />
                <span asp-validation-for="date_created" class="text-danger"></span>
            </div>
            -->
            <div class="form-group" hidden>
                <label asp-for="date_updated" class="control-label"></label>
                <input asp-for="date_updated" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm")" />
                <span asp-validation-for="date_updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
